

<form ng-submit="ctrl.createTravel()">
<div class="w3-row-padding" style="margin:0 -16px 8px -16px">
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" ng-model="ctrl.createForm.destination" placeholder="Add Accident or Resupply Equipment" required name="Name">
    </div>
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" ng-model="ctrl.createForm.climate" placeholder="Add Accident or Resupply Equipment" required name="Email">
    </div>
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" ng-model="ctrl.createForm.dates" placeholder="Add Accident or Resupply Equipment" required
            name="Email">
    </div>
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" ng-model="ctrl.createForm.kid_friendly" placeholder="Add Accident or Resupply Equipment" required
            name="Email">
    </div>
    <div class="w3-half">
        <input class="w3-input w3-border" type="text" ng-model="ctrl.createForm.img" placeholder="Add Accident or Resupply Equipment" required
            name="Email">
    </div>
    <div class="w3-half">
         <textarea class="w3-input w3-border" style="overflow:hidden;" type="text" ng-model="ctrl.createForm.description" placeholder="Add Description" /></textarea>
    </div>
    <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
</div>
</form>
