<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lifegaurd Checklist</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="public/js/app.js" charset="utf-8"></script>
    <script src="public/js/app1.js" charset="utf-8"></script>
    <!-- <script src="./../server1.js" charset="utf-8"></script> -->

    <base href="/" target="_blank">

    <!-- ! Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>


</head>

<body style="max-width: 600px; margin: 0 auto;">

    <!--//////  Partials nav ////-->
    <div style="max-width: 600px; margin: 0 auto;" class="is-visible" ng-include="'partials/nav.html'"></div>
    <!--////// end of partials ////-->

    <!-- ///////////////// -->
    <div class="divMaxWidth">
        <div class="mainPicture">
            <div class="mainTopnumber">

                <!-- top nav bar -->
                <div style="z-index: 10;" class="topnav">

                    <div style="background-color: darkgrey; z-index: 10;" class="topnav1">
                        <a class="aTagTopNavDivLogo" style="font-size: 22px; " href="https://patrolpeakplanner.github.io/PatrolPeakPlanner/home.html">
                            <div style="z-index: 10; color: black; margin-left:20px;margin-top: 0px;padding-top: 25px;"
                                class="mainLogo1">

                                <h3
                                    style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 36px; color: white; text-shadow: 0px 0px 10px black;">
                                    PATROLPEAKPLANNER </h3>
                                <h5>LIFEGAURD PRODUCTIVITY</h5>

                            </div>
                        </a>
                        <br>
                    </div>
                </div>
                <!-- end top nav -->

                <!-- start of middle picture background -->
                <div
                    style="background-image: url('https://github.com/PatrolPeakPlanner/PatrolPeakPlanner/blob/main/ImagePool.jpg?raw=true'); height: auto; background-size: cover; background-repeat: no-repeat;">

                    <br><br>
             
                    <div  style="text-align: left; background-color: white; padding: 15px 50px; margin: 0px 5% ; border-radius: 10px; font-size: 12px;">
                    <div id="openLoginModal">
                        <h4 class="modalh4" style="margin: 0 0; padding: 5px 10px;"> Lifegaurd Daily Checklist <br>
                        </h4>
                        <br>
 
    <div style="font-size: 15px; text-align: left; margin: 0 2%;">
    <!-- href="https://patrolpeakplanner.github.io/PatrolPeakPlanner/index.html" -->
        <br>
        <a href="https://connect.intuit.com/portal/app/CommerceNetwork/view/scs-v1-46f76371bdac402ab95662d6f5547f8336034a3231324da3bf4b97bc1cf0e8d4846d4849c8ea4960a68d398f65d0f795?locale=EN_US">
        <button style="border-radius:20px; border-radius: 30px;">...BUY THE LIFEGAURD CHECKLIST... <br><b> $499/YEAR SUBSCRIBE NOW</b></button>
        </a>
    </div>
    <br><br>


<!-- Lifegaurd Checklist -->
                    <br> 1. Pre-Shift Preparation
                   <br>

<!-- start of locked checklist -->
    <div style="display: block; color: transparent; text-shadow: 0 0 5px black;">
                                  
                  <input style="width: 30px;" type="input" placeholder="Initials">

                                    <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Arrive on time and check in with supervisor
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Dress in full uniform (including whistle, rescue tube, sunscreen, sunglasses, hat)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Hydrate before shift
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Review weather and water conditions (tide, waves, current, visibility)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Confirm emergency equipment is present and functional:
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Rescue tubes
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  First aid kits
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  AED
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Radios / communication devices
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Attend daily briefing or team meeting
                    
                    
                    <br><br> 
                    2. Station Setup
                    <br>
                   <!-- <br> -->
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Open lifeguard stand or tower
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Set up warning flags, signage, and beach condition notices
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Place buoys, lane ropes, or designated swim zone markers (if applicable)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Ensure visibility from post is clear (no obstructions)

                    
             <br><br>
                    3. Active Surveillance
                  
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Maintain constant visual scan of assigned area
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Rotate positions according to rotation schedule
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Enforce safety rules (diving, running, rough play, depth limits)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Educate patrons on hazards (rip currents, deep areas, no-swim zones)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Document and report any incidents or infractions
                    
                    
                    <br><br> 4. Maintenance and Cleanliness
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Inspect and clean lifeguard station or chair
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Report damaged or missing equipment
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Check pool deck/beach area for hazards (glass, debris, slick surfaces)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Refill first aid supplies if used
                    
                    
                    <br><br> 5. Mid-Shift & Break Management
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Take scheduled hydration and rest breaks
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Log out/in for breaks
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Communicate hand-off clearly when rotating out
                    
                    
                    <br><br> 6. Emergency Preparedness
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Perform or review emergency drills (monthly or weekly schedule)
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Review CPR, spinal injury, and drowning protocols
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Test radios and emergency communication devices
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Confirm emergency contact numbers are accessible
                    
                    
                    <br><br> 7. End of Shift Duties
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Debrief with supervisor
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Record incident reports and log shift activities
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Store and secure equipment
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Remove or update warning signs if conditions have changed
                   <br>
                    <input style="width: 30px;" type="input" placeholder="Initials">

                   <input type="checkbox" class="onoffswitch-checkbox" id="inline" checked>  Clean personal and shared areas

</div>
<!-- end of locked checklist -->



                        <!-- <br>
                        <br>
                 
                        <button>
                            Add/Edit Checklist Item
                        </button>
                    </a><br><br>
                    <input style="width: 200px;" type="input" placeholder="New Item for Checklist" >
                    <br>
                   
                    <form action="input"></form>
                    <br>
            
                    <button>
                        Submit
                    </button>
                    </a>
                    </div>
                        
                 -->
                   
                    
                  

                </div>
                <!-- end of middle picture background -->
<br><br>
            </div>
            <!-- end of mainTopnumber -->
        </div>
        <!-- end of main picture -->
    </div>
    <!-- end of divMaxWidth -->

    <!-- <div class="footerdivparent"> -->
    <div>
        <div class="footerDiv" style="background-color: lightgrey; text-align: center;">

            <a href="https://patrolpeakplanner.github.io/PatrolPeakPlanner/home.html">
            <h3 style=" margin: 0px 0px; text-align:center;"> <br><br>
                <button style="border-radius:20px; text-align: center; width: 60%; margin: 10px 15%; padding: 10px 10px;"
                    class="payHereButton">Back to Home Page</button></h3>
            </a>

            <!-- <h3 style="margin: 0px 0px; text-align:center;"> <br><br>
                <button style="border-radius:20px; text-align:center ; width: 60%; margin: auto 15%; padding: 10px 10px;"
                    class="payHereButton" onclick="openResupplyEquipmentNav()">Resupply Equipment </button>
            </h3>
            <h5>Equipment and Medical Supplies</h5>

            <h3 style="text-align:center; padding-bottom: 0px; margin-bottom: 0px;"> <br><br>
                <button style="border-radius:20px; text-align:center ; width: 60%; margin: auto 15%; padding: 10px 10px;"
                    class="payHereButton" onclick="openSafetySignageNav()">Check Safety Signage </button>
            </h3>
            <h5>Urgent and Non Urgent Safety Signage</h5> -->
            <br><br><br>
        </div>
    </div>

    <!-- Side Nav -Lifegaurd Notification Notifications -->
    <div id="mySidenavNotification" style="
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #B4CDE0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px">
            <div class="closeXButton" onclick="closeNotificationNav()"></div>
            <h3>Add Lifegaurd Notifications:</h3>

            <form action="/action_page.html">
                <!-- <label for="fname">Add Lifegaurd Notification Location:</label><br> -->
                <input type="text" id="fname" name="fname" value="Lifegaurd Notification Location"><br>
                <!-- <label for="lname">Reported Time:</label><br> -->
                <input type="text" id="lname" name="lname" value="Time Reported"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>
            <h4> Lifegaurd Notification
                <br> Location:
                <br> Status:
            </h4>
            <h4> Lifegaurd Notification
                <br> Location:
                <br> Status:
            </h4>
            <h4> Lifegaurd Notification
                <br> Location:
                <br> Status:
            </h4>
            <h4> Lifegaurd Notification
                <br> Location:
                <br> Status:
            </h4>
        </div>
    </div>




    <!-- Start of Side Nav - Resupply Equipment -->
    <div id="mySidenavResupplyEquipment" style="
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        background-color: #B4CDE0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px 20px 20px">


            <div class="closeXButton" onclick="closeResupplyEquipmentNav()"></div>


            <h3>Resupply Equipment Status:</h3>

            <form action="/action_page.html">
                <!-- <label for="fname">Equipment Name:</label><br> -->
                <input type="text" id="fname" name="fname" value="Equipment Name"><br>
                <!-- <label for="lname">Location:</label><br> -->
                <input type="text" id="lname" name="lname" value="Location"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>

            <h3>Resupply Medical and Rescue Equipment List:</h3>

            <!-- Show Equipment : get route -->
            <div>

                <div style="padding:0 8px; align-items: left;" ng-repeat="equipment in ctrl.Equipment">

                    <br>

                    <div style="padding:0 8px; align-items: left;">

                        <h3 style="height: 20px; " id="render1"></h3>
                        <h3 style="height: 20px; " id="render2"></h3>
                        <h3 style="height: 20px; " id="render3"></h3>
                        <h3 style="height: 20px; " id="render4"></h3>
                        <h3 style="height: 20px; " id="render5"></h3>
                        <h3 style="height: 20px; " id="render7"></h3>
                        <br>
                        <br>
                        <br>
                        <button style="border-radius: 20px;" onclick="showList();">Show List</button>

                        <br><br>
                        <div>


                            <div ng-show="myVar">
                                <!-- //ng-repeat  -->
                                <!-- list 1 -->

                            </div>


                        </div>
                    </div>

                    <button style="border-radius: 20px;"  ng-click="ctrl.deleteEquipment( equipment._id )">Remove</button>

                    <!-- Show HTML: -->

                    <input type="button" value="Edit Info" ng-model="myVar" ng-click="ctrl.editEquipment( equipment )">


                    <div ng-show="myVar">


                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end of resupply equipment -->

    <!-- Side Nav - Scheduling Lifegaurd Location -->
    <div id="mySidenavScheduling" style="
            height: 100%;
            width: 0px;
            position: fixed;
            z-index: 4;
            top: 0;
            right: 0;
            background-color: #B4CDE0;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px">
            <div class="closeXButton" onclick="closeSchedulingNav()"></div>

            <h3>Add Lifegaurd to Daily Schedule</h3>

            <form action="/action_page.html">
                <!-- <label for="fname">Patroller Name:</label><br> -->
                <input type="text" id="fname" name="fname" value="Patroller Name"><br>
                <!-- <label for="fname">Location:</label><br> -->
                <input type="text" id="fname" name="fname" value="Location"><br>
                <!-- <label for="lname">Time:</label><br> -->
                <input type="text" id="lname" name="lname" value="Time"><br><br>
                <input type="submit" value="Submit">
            </form>

            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>

            <h3>Daily Lifegaurd Schedule:</h3>
            <p>Name:
                <br>Location:
                <br>Time:
            </p>

            <p>Name:
                <br>Location:
                <br>Time:
            </p>

            <p> Name:
                <br>Location:
                <br>Time:
            </p>

            <p>Name:
                <br>Location:
                <br>Time:
            </p>

        </div>
    </div>

    <!-- Side Nav - Safety Signage - Check List -->
    <div id="mySidenavSafetySignage" style="
                height: 100%;
                width: 0px;
                position: fixed;
                z-index: 4;
                top: 0;
                right: 0;
                background-color: #B4CDE0;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                box-shadow: 2px 2px 10px #000000;">

        <div style="margin: 20px 20px">
            <div class="closeXButton" onclick="closeSafetySignageNav()"></div>
            <h3>Add New Safety Signage to<br>Check List </h3>
            <form action="/action_page.html">
                <!-- <label for="fname">Equipment Name:</label><br> -->
                <input type="text" id="fname" name="fname" value="Safety Signage Name"><br>
                <!-- <label for="lname">Location:</label><br> -->
                <input type="text" id="lname" name="lname" value="Location"><br><br>
                <input type="submit" value="Submit">
            </form>
            <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.html".</p>

            <p>=======================</p>

            <h3>Safety Signage Check List</h3>
            <p>Name:
                <br>Location:
                <br>Status:
            </p>

            <p>Name:
                <br>Location:
                <br>Status:
            </p>

            <p> Name:
                <br>Location:
                <br>Status:
            </p>

            <p>Name:
                <br>Location: {{test.location.equipment}}
                <br>Status: {{test.status.equipment}}
            </p>

        </div>
    </div>


    <!-- anchor tag from nav bar -->
    <a name='Lifegaurd  Notifications'></a>

    <!-- Notification Section -->
    <!-- <div class="w3-grey" id="newLifegaurd Notifications">
        <div style="max-width:600px">


            <ul class="w3-ul w3-border w3-white w3-text-grey">
                <li class="w3-padding">Lifegaurd  Notification
                    <span class="w3-tag w3-red w3-margin-left">Mark Hazards on slope name</span>
                </li>
                <li class="w3-padding">Lifegaurd Notification
                    <span class="w3-tag w3-red w3-margin-left">Check Equipment Level at Hut</span>
                </li>
                <li class="w3-padding">Lifegaurd  Notification
                    <span class="w3-badge w3-right w3-margin-right">Completed Opened Slope Name</span>
                </li>
                <li class="w3-padding">Lifegaurd  Notification
                    <span class="w3-tag w3-red w3-margin-left">Request more Arm Splints at Hut</span>
                </li>
                <li class="w3-padding">Lifegaurd  Notification
                    <span class="w3-tag w3-red w3-margin-left">Request more Leg Splints at Hut</span>
                </li>
                <li class="w3-padding">Lifegaurd  Notification
                    <span class="w3-badge w3-right w3-margin-right">Completed Added Signage on Slope Name</span>
                </li>
            </ul>
        </div>
    </div> -->



    <!-- Resupply Section -->
    <!-- <div style="background-color:#F1F1F1; width: 20%">
        <div id="resupplyID">

        </div>
    </div> -->


    <!-- side nav login -->
    <!-- <nav class="newNavBar">

        <div class="NewNavBarLoginRegister">

            <div class="sidenav" id="mySidenav">
                <a class="closebtn" ng-click="ctrl.closeNav()">&times;</a>
               
                <div ng-include="'partials/login_form.html'"></div>
               
            </div>

        </div>
    </nav> -->

    <!-- side nav Register -->
    <!-- <nav class="newNavBar">

        <div class="NewNavBarLoginRegister">

            <div class="sidenav" id="mySideNavRegister">
                <a class="closebtn" ng-click="ctrl.closeNavRegister()">&times;</a>
                
                <div ng-include="'partials/register.html'"></div>
              
            </div>

        </div>
    </nav> -->
    <!-- end of side nav -->

    <footer>
        <!-- <div class="footerdivparent"> -->
        <div class="footerDiv" style="background-color: lightblue; text-align: center;">
<br>
<div>Peter@PatrolPeakPlanner.com</div>
<div> &copy; 2024-2025 PatrolPeakPlanner LLC <br>
    All Rights Reserved.</div>
<br>
                <br>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>


</body>

</html>

<!-- 
References: 
 Tutorial MondoDB Node.js Auth0
 https://www.youtube.com/watch?v=ardeKHEN1j4

 Tutorial for Database set up CRUD + node.js + MongoDB
 https://www.youtube.com/watch?v=9OfL9H6AmhQ
 https://www.youtube.com/watch?v=EcJERV3IiLM 

Checkboxes
 https://stackoverflow.com/questions/47743629/input-checkbox-checked-by-default
-->
